*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_div{
    border: 1px solid red;
    display: flex;
    border: 1px solid yellow;
    width: 100px;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}
.ham{
    border: 1px solid;
    width: 20px;
    margin: 1px;
    height: 3px;
    background-color: black;

}
.logo{
    width: 80px;
    border: 1px solid;
    height: 50px;
}
.logo>img{
    width: 100%;
}
.profile{
     border: 1px solid;
     width: 50px;
     height:60px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
}
main{
    border: 1px solid;
    display: flex;
}
aside{
    border: 1px solid;
    width: 15%;
    height: 100vh;

}
#category{
    border: 1px solid;
    height: 50px;
    margin-top: 2px;
}
.sidebar{
    margin-top: 3px;
}

